$color-grey-a: #DCDCDC;
$color-grey-b: #D3D3D3;
$color-grey-c: #C0C0C0;
$color-grey-d: #A9A9A9;
$color-grey-e: #808080;
$color-grey-f: #696969;

$color-anchor: darken(cadetblue, 10%);
$color-sidebar-anchor: cadetblue;
$color-sidebar-background: whitesmoke;