.user-details-section {
  width: 75vw;
  > h2 {
    background-color: $color-grey-a;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
  }
  > h3 {
    background-color: $color-grey-a;
    padding: 5px;
    font-weight: bold;
    font-size: 1.15em;
  }
  > div {
    border-bottom: 1px solid $color-grey-a;
    span {
      padding: 5px;
      &:nth-child(1) {
        display: inline-block;
        font-weight: bold;
        width: 125px;
        max-width: 125px;
      }
      &:nth-child(2) {
        display: inline-block;
      }
    }
  }
  .address > div:not(:last-child) {
    border-bottom: 1px solid $color-grey-a;
  }
}
