<header>
<h1>User: {{$ctrl.user.name}}</h1>
<a ui-sref="users.list">&#8249; Back</a>
</header>
<section class="user-details-section">
  <h2>Details:</h2>
  <div>
    <span>Username:</span><span>{{$ctrl.user.username}}</span>
  </div>
  <div>
    <span>Email:</span><span>{{$ctrl.user.email}}</span>
  </div>
  <h3>Address:</h3>
  <div>
    <address address="$ctrl.user.address"></address>
  </div>
  <div>
    <span>Phone:</span><span>{{$ctrl.user.phone}}</span>
  </div>
  <div>
    <span>Website</span><span>{{$ctrl.user.website}}</span>
  </div>
  <h3>Company:</h3>
  <div>
    <span>Name:</span><span>{{$ctrl.user.company.name}}</span>
  </div>
  <div>
    <span>Catch Phrase:</span><span>{{$ctrl.user.company.catchPhrase}}</span>
  </div>
  <div>
    <span>Marketing:</span><span>{{$ctrl.user.company.bs}}</span>
  </div>
</section>