<header>
  <h1>Users</h1>
</header>
<section class="user-list-section">
  <div class="header-row">
    <div>Name</div>
    <div>Username</div>
    <div>Email</div>
    <div>Address</div>
  </div>
  <div class="user-row" ng-repeat="user in $ctrl.users">
    <div class="user-list-name">
      <a ui-sref="users.id({ id: user.id })">{{user.name}}</a>
    </div>
    <div class="user-list-username">{{user.username}}</div>
    <div class="user-list-email">{{user.email}}</div>
    <div class="user-list-address">
      <address
        condensed="true"
        address="user.address"></address>
    </div>
  </div>
</section>
