user-list {
  display: inline-block;

  .user-list-section {
    display: table;
    width: 80vw;
    border-collapse: collapse;
    border: 1px solid $color-grey-f;
  }

  .header-row {
    display: table-header-group;
    background: $color-grey-c;
    border: 1px solid $color-grey-f;

    > div {
      display: table-cell;
      font-weight: bold;
      padding: 3px 10px;
      text-align: center;
    }
  }

  .user-row {
    display: table-row;
    border: 1px solid $color-grey-f;

    &:nth-child(odd) {
      background: $color-grey-a;
    }

    > div {
      padding: 3px 10px;
      display: table-cell;
    }
  }
}
