@import 'node-reset-scss/scss/reset';
@import 'common/styles/colors';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import 'common/layout/address/address';
@import 'users/list/user-list';
@import 'users/details/user-details';

* {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.25em;
}

header {
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 2em;
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: $color-anchor;

  &:hover {
    color: lighten($color-anchor, 20%);
  }
}

section.app {
  display: flex;
  height: 100vh;

  .sidebar {
    background-color:$color-sidebar-background;
    padding: 10px;
    flex-basis: 125px;
    line-height: 1.5em;

    ul {
      width: 100%;
    }

    a {
      display: block;
      
      color: black;
      font-weight: bold;
      text-decoration: none;

      padding-left: 5px;
      border-left: 3px solid transparent;

      &:hover {
        color:lighten($color-sidebar-anchor, 25%);
      }

      &.active {
        color: $color-sidebar-anchor;
        background: $color-grey-a;
        border-left: 3px solid black;
      }
    }
  }

  .content {
    padding: 10px;
    padding-left: 20px;
    > * {
      margin: 0 auto;
    }
  }
}