<div class="address" ng-class="{ condensed: $ctrl.condensed }">
  <div class="address-street">
    <span>Street:</span><span>{{$ctrl.address.street}}{{$ctrl.condensed ? ',': ''}}</span>
  </div>
  <div class="address-suite">
    <span>Suite:</span><span>{{$ctrl.address.suite}}</span>
  </div>
  <br ng-if="$ctrl.condensed">
  <div class="address-city">
    <span>City:</span><span>{{$ctrl.address.city}}{{$ctrl.condensed ? ',': ''}}</span>
  </div>
  <div class="address-zipcode">
    <span>Zipcode:</span><span>{{$ctrl.address.zipcode}}</span></div>
  <div class="address-geo" ng-if="!$ctrl.condensed">
    <span>Geo:</span><span>{{$ctrl.address.geo.lat}}, {{$ctrl.address.geo.lng}}</span>
  </div>
</div>